# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
__pycache__/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

node_modules