@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Upright:300,400,500,600,700);

@media screen and (min-width: 576px) {
  .container {
    max-width:540px
  }
}

@media screen and (min-width: 768px) {
  .column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  height: auto;
}

.background {
  background-image: url(./background.jpg);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.background-fade {
  background-color: white;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
}

.center {
  text-align: center;
}

.column {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-box {
  display: flex;
}

.menu-header {
  font-size: 1.8rem;
  margin-bottom: .5rem;
}

.menu-header-solved {
  color: green;
}

.menu-header-solved:after {
  content: ' (solved)';
}

.menu-header-solved:before {
  content: '✨';
}

.menu-item {
  font-family: 'Cormorant Upright', serif;
}

.menu-points {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 2.25rem;
}

.menu-title {
  font-size: 3rem;
  font-weight: 500;
}

.menu-text {
  font-size: 1.3rem;
  padding-right: 2rem;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.section-title {
  color: #9f3942;
  font-size: 2.25rem;
  font-weight: bold;
}
